<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Gallery
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-header collapse="condense"></ion-header>
     
      <ion-img src="assets/pictures/me2.jpg"></ion-img>
      <ion-img src="assets/pictures/me3.jpg"></ion-img>
      <ion-img src="assets/pictures/me4.jpg"></ion-img>
      <ion-img src="assets/pictures/me5.jpg"></ion-img>
      <ion-img src="assets/pictures/me6.jpg"></ion-img>
      <ion-img src="assets/pictures/me7.jpg"></ion-img>


 
</ion-content>
