<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
    <ion-toolbar class="back">
      <h4>Personal Information</h4>
      <ion-img src="assets/pictures/me.jpg"></ion-img>
      <h5>Name: Hillary Sherein O. Bangcoyo</h5>
      <h5>Address: Brgy. San Mateo Carigara, Leyte</h5>
      <h5>Birthdate: January 12, 2000</h5>
      <h5>Age: 21 years old</h5>
      <h5>Sex: Female</h5>
      <h5>Status: Single</h5>
      <h5>Religion: Roman Catholic</h5>
    </ion-toolbar>

</ion-content>
